@model Tuple<ArchtistStudio.Modules.Contact.DetailContactResponse,
List<ArchtistStudio.Modules.Social.ListSocialResponse>,
List<ArchtistStudio.Modules.PhoneNumber.ListPhoneNumberResponse>,
List<ArchtistStudio.Modules.Email.ListEmailResponse>> 

<div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">Account Settings</h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account-general">
                        <div class="card-body media align-items-center row p-3">
                            <div class="col pl-3">
                                <h4 class="font-weight-bold">
                                    @if (User.Identity?.IsAuthenticated == true)
                                    {
                                        @User.Identity.Name
                                    }
                                    else
                                    {
                                        <p>Guest</p>
                                    }
                                </h4>
                            </div>
                        </div>
                        <hr class="border-light my-0">
                        <div class="card-body" style="max-height: 550px; overflow-y: auto;">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="border border-outline-secondary p-2 rounded-1">
                                            Location: @Model.Item1?.Location
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="border border-outline-secondary p-2 rounded-1">Phonenumber
                                            @foreach (var PhoneNumber in Model.Item3)
                                            {
                                                <div
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary">@PhoneNumber.Phone</span>

                                                    <div>
                                                        <a asp-controller="phonenumber" asp-action="update"
                                                            asp-route-id="@PhoneNumber.Id"><i
                                                                class="fa fa-edit fa-lg text-info"
                                                                aria-hidden="true"></i></a>

                                                        <button type="button" data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal-@PhoneNumber.Id"
                                                            class="btn btn-link text-danger">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                        <!-- Delete Modal -->
                                                        <div class="modal fade" id="deleteModal-@PhoneNumber.Id"
                                                            tabindex="-1" aria-labelledby="deleteModalLabel-@PhoneNumber.Id"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="deleteModalLabel-@PhoneNumber.Id">Confirm
                                                                            Deletion</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure you want to delete this item?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form asp-controller="phonenumber"
                                                                            asp-action="delete"
                                                                            asp-route-id="@PhoneNumber.Id" method="post">
                                                                            @Html.AntiForgeryToken()
                                                                            <button type="submit"
                                                                                class="btn btn-danger">Delete</button>
                                                                        </form>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <a href="/phonenumber/insert"><i class="fa fa-plus-square p-1"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="border border-outline-secondary p-2 rounded-1">Email
                                            @foreach (var Email in Model.Item4)
                                            {
                                                <div
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary">@Email.Address</span>

                                                    <div>
                                                        <a asp-controller="email" asp-action="update"
                                                            asp-route-id="@Email.Id"><i class="fa fa-edit fa-lg text-info"
                                                                aria-hidden="true"></i></a>

                                                        <button type="button" data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal-@Email.Id"
                                                            class="btn btn-link text-danger">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                        <!-- Delete Modal -->
                                                        <div class="modal fade" id="deleteModal-@Email.Id" tabindex="-1"
                                                            aria-labelledby="deleteModalLabel-@Email.Id" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="deleteModalLabel-@Email.Id">Confirm
                                                                            Deletion</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure you want to delete this item?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form asp-controller="email" asp-action="delete"
                                                                            asp-route-id="@Email.Id" method="post">
                                                                            @Html.AntiForgeryToken()
                                                                            <button type="submit"
                                                                                class="btn btn-danger">Delete</button>
                                                                        </form>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <a href="/email/insert"><i class="fa fa-plus-square p-1"
                                                    aria-hidden="true"></i> </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- Social Links -->
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="border border-outline-secondary p-2 rounded-1">
                                            <h5>Social Links</h5>
                                            <ul class="list-group list-group-flush">
                                                @foreach (var social in Model.Item2)
                                                {
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="@social.URL"
                                                                class="text-decoration-none">@social.DisplayText</a>
                                                            <span class="badge badge-primary">@social.Platform</span>
                                                        </div>
                                                        <div>
                                                            <a asp-controller="social" asp-action="update"
                                                                asp-route-id="@social.Id"><i
                                                                    class="fa fa-edit fa-lg text-info"
                                                                    aria-hidden="true"></i></a>


                                                            <button type="button" class="btn btn-link text-danger"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#deleteModal-@social.Id"> <i
                                                                    class="fa fa-trash" aria-hidden="true"></i></button>

                                                            <!-- Delete Modal -->
                                                            <div class="modal fade" id="deleteModal-@social.Id"
                                                                tabindex="-1" aria-labelledby="deleteModalLabel-@social.Id"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="deleteModalLabel-@social.Id">Confirm
                                                                                Deletion</h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Are you sure you want to delete this item?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <form asp-controller="social"
                                                                                asp-action="delete"
                                                                                asp-route-id="@social.Id" method="post">
                                                                                @Html.AntiForgeryToken()
                                                                                <button type="submit"
                                                                                    class="btn btn-danger">Delete</button>
                                                                            </form>
                                                                            <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end m-2">
                            <a href="/social/insert" class="btn btn-outline-dark">Insert Social</a>
                            <a href="/contact/insert" class="btn btn-outline-dark">Insert Contact</a>
                            <a href="@Url.Action("update", "contact", new { id = Model.Item1?.Id })"
                                class="btn btn-outline-dark">Edit Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
