@model ArchtistStudio.Modules.About.DetailAboutResponse

<div>
    <h4 class="font-weight-bold py-3 mb-4">
        Insert Platform
    </h4>
    <div class="card-body"  style="max-height: 80vh; overflow-y: auto;">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Since 2004</h6>
                        <p>@Model.Since</p>  
                        <div class="border border-outline-secondary p-2 rounded-1">
                            <p>@Model.ImagePath</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Who are we?</h6>
                        <p>@Model.We</p>
                         <div class="border border-outline-secondary p-2 rounded-1">
                            <p>Who are we?: @Model.ImagePathWe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Our Vision</h6>
                        <p> @Model.Version </p>
                        <div class="border border-outline-secondary p-2 rounded-1">
                            <p>Our Vision: @Model.ImagePathVersion</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Our Service</h6>
                        <p> @Model.Service</p>
                        <div class="border border-outline-secondary p-2 rounded-1">
                            <p>Our Service: @Model.ImagePathService</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Our Process</h6>
                        <p> @Model.Process </p>
                        <div class="border border-outline-secondary p-2 rounded-1">
                            <p>Our Process: @Model.ImagePathProcess</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <div class="border border-outline-secondary p-2 rounded-1">
                        <h6>Our Planning</h6>
                        <p> @Model.Planning </p>
                        <div class="border border-outline-secondary p-2 rounded-1">
                            <p>Our Planning: @Model.ImagePathPlanning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end m-2">
            <a href="/about/insert" class="btn btn-outline-dark">Insert About</a>
            <a href="@Url.Action("update", "about", new { id = Model.Id })" class="btn btn-outline-dark">Edit About
                Us</a>
        </div>
    </div>
</div>
